{% extends 'base.html' %}

{% block page_title %}Question List{% endblock %}

{% block header %}All Question{% endblock %}
{% block content %}
{% if question_list %}
    <ul>
        {% for question in question_list %}
        <li><a href="{% url 'detail' question.id %}">{{ question.question_text|truncatechars:40 }}</a>
            - Published date: {{question.pub_date|date:"D d, M y"}}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}


{% block footer %}
<p class="subtitle">
    Total: {{question_list|length}} questions <!-- ใช้ filter length เพื่อแสดงขนาดของ list question_list -->
</p>
{% endblock %}

